body {
  background: #f0f0f0;
  color: black;
  font-family: sans-serif;
}

.field {
  display: flex;
  padding: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
}

.box {
  border: 1px solid #999; /* lighter gray border */
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  width: 30%;
  text-align: center;
  border-radius: 8px;
}

.box:last-child {
  margin-bottom: 0;
}

button.btn {
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 0.8em;
  color: black;
  background-color: white;
  border: 1px solid #999; /* lighter gray border */
  border-radius: 6px;
  transition: background-color 0.3s, border-color 0.3s;
}

button.btn:hover {
  background-color: #ddd;
  border-color: #777; /* slightly darker on hover */
}

textarea {
  resize: none;
  background-color: #fafafa;
  border: 1px solid #999; /* lighter gray border */
  border-radius: 5px;
  padding: 10px;
  font-size: 0.7em;
  width: 90%;
  outline: none;
}

textarea:focus {
  border: 1px solid #6d79cd;
}

.btn.new, .btn.success, .btn.light, .btn.red {
  background-color: white;
  border: 1px solid #999;
}

.btn.new:hover,
.btn.success:hover,
.btn.light:hover,
.btn.red:hover {
  background-color: #ddd;
  border-color: #777;
}
